

<img class="responsive-img" src="https://img.freepik.com/free-vector/yellow-background-with-appetizing-burger-in-flat-design_23-2147634054.jpg?size=338&ext=jpg">

<h4>Enter a burger and click the "Submit" button!</h4>
<div class= 'row'>
    <div class="col s6">
        <div class="burgerbutton"></div>
    </div>
    <div class="col s6">
        <div class="eatenbutton"></div>
    </div>
</div>




<form>
  <input class="input" type="text">
  <button class = "submit" value = "Submit">SUBMIT</button>
</form>
{{!-- {{key}} --}}
{{!-- <script src="../public/js.js"></script> --}}

<script>

    var i = 0;
    
$('.submit').on('click', function (){

    event.preventDefault();

    i++;


    var values = {
        key: $('.input').val()
    }

    console.log('Sent');

    $.post('/api', values, function (data){
        console.log('Data recieved');

        $('.burgerbutton').append(`<div class="devour" data-name = "${data}"><button value = "Submit">${data}</button><button value = "Submit">Click to Devour!</button></div>`);
        
    });

});

$(document).on('click', '.devour', function (){

    var object = {
        key: $(this).attr('data-name')
    }

     $(`.eatenbutton`).append(`<button class="${object.key}">Burger has been devoured!</button>`);
      $(this).remove();

      

    

      $.ajax({
    url: '/api/update',
    type: 'PUT',
    data: object,
    success: function(data) {
    console.log('Update data sent...');
  }
});

});



</script>
